body{
    margin: 0px;
    padding: 0px;
}

header, footer {
    display: block;
    position: relative;
    margin: 0px;
    background-color: black;
    text-align: center;
    padding: 30px;
    color: white;
    clear: left;
}

nav {
    
    background-color: grey;
    margin: 0;
    overflow: hidden;
}

nav ul.navi {
    text-align: center;
    padding: 10px;
    color: white;
}

nav ul.navi li.navi {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
}

nav>ul.navi>li.navi>a {
    display: block;
    padding: 10px;
    color: white;
}

#map{
    display:inline-block;
    vertical-align: top;
    width:56%;
    height: 600px;
    overflow: hidden;
    white-space: nowrap;
}